*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: bisque;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 500px;
    padding: 50px;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.rikkei, .contact{
    width: 30%;
    height: 100%;
    background-color: #333333;
    color: white;
    font-size: 36px;
    font-weight: 800;

    padding: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main{
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    background-color: #ffffff;
    height: calc(100%/2.5);

    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: #333333 0px 0px 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        flex-wrap: wrap;
        height: 500px;
    }
    .rikkei{
        order: 1;
        margin-bottom: 10px;
    }
    .main{
        order: 2;
        overflow: hidden;

        width: 65%;
        height: 100%;
    }
    
    .contact{
        height: 10%;
        order: 3;
        font-size: medium;
        align-items: center;
    }
}
@media screen and (max-width: 767px){
    .container{
        flex-direction: column;
        height: 500px;
    }
    .rikkei,.contact{
        width: 100%;
        height: 20%;
    }
    .main{
        width: 100%;
        height: 90%;
    }
    .content{
        width: 100%;
        height: 30%;
    }
    
}