body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.card {
    width: 400px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.category-line {
    width: 5px;
    height: 16px;
    background-color: orange;
    margin-right: 8px;
}

.category-text {
    color: #333;
}

.image-container {
    position: relative;
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 6px;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); /*nice*/
    border-radius: 6px;
}

.news-links {
    margin-top: 15px;
}

.news-links p {
    font-size: 14px;
    margin: 8px 0;
    color: #333;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}
/* first child*/
.news-links p:first-child {
    border-top: none;
    padding-top: 0;
}
